.DL {
    background-color: #eeebeb;
    text-align: center;
    height: 500px;
    width: 700px;
    margin: auto;
    position: relative;
    border: 1px solid #e6e3e3;
    box-shadow: 2px 2px 8px;
}

.header {
    top: 20px;
    position: absolute;
    left: 248px;
}

form {
    position: absolute;
    width: 300px;
    left: 200px;
    top: 100px;
}

.sr {
    align-items: center;
    margin-bottom: 20px;
}

.sr label {
    width: 80px;
    text-align: right;
    display: flex;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
    width: 300px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-color: #eeebeb;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    left: 0px;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
}

.jz {
    position: absolute;
    left: 0px;
    top: 195px;
}

.xy {
    position: absolute;
    left: 0px;
    top: 270px;
    text-align: left;
    font-size: 15px;
}

.xy a {
    text-decoration: none;
    color: #ff8800;
}

ul {
    list-style: none;
    display: flex;
    font-size: 25px;
    color: #000000;
}

.jz a {
    text-decoration: none;
}

ul li a:hover {
    color: #847b7b;
}