.header {
    text-align: center;
    position: absolute;
    left: 110px;
    top: 20px;
    font-size: 23px;
    color: #5D3A21
}

.dd {
    width: 1000px;
    height: 1600px;
    background-image: url(https://tse2-mm.cn.bing.net/th/id/OIP-C.Z0BJYTylVM22CYeLuU7PQwHaNK?w=187&h=333&c=7&r=0&o=7&cb=ucfimg2&dpr=1.5&pid=1.7&rm=3&ucfimg=1);
    background-size: contain;
    margin: auto;
    position: relative;
    box-shadow: 2px 2px 8px;
    border-radius: 5px;
}

.main {
    position: absolute;
    left: 110px;
    top: 150px;
}


.main label {
    font-size: 25px;
    display: block;
    color: #5D3A21
}

.xq {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 700px;
}

.pl {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 10px;
    width: 700px;
}

.main p {
    font-size: 25px;
    display: block;
    margin-bottom: -15px;
    color: #5D3A21
}

.main input[type="text"] {
    height: 40px;
    width: 793.5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.main select {
    height: 40px;
    width: 793.5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.cs select {
    height: 40px;
    width: 793.5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

textarea {
    width: 793.5px;
    height: 200px;
    margin-top: 15px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.jz {
    display: flex;
    flex-wrap: wrap;
    width: 793.5px;

}

a {
    text-decoration: none;
    color: #ff8800;
}

input[type="submit"],
input[type="reset"] {
    width: 793.5px;
    height: 50px;
    background-color: rgb(247, 176, 63);
    border-color: #eeebeb;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

input[type="file"] {
    border: 1px solid #a8a7a7;
    background-color: #ffffff;
    color: #060505;
    border-radius: 5px;
    margin-top: 25px;
    width: 793.5px;
    height: 25px;
}
